.row{
    max-width: 93%;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

     float: right;
}

input[type=text]:focus {
    width: 100%;
}
.header{

}
.Watotohead{
    font-size: 46px;
    text-align:left;
}
.searchbar{
    width: 100%
}
i{
    width: 25px;
    height: 25px;
}
.marque{
    font-size: 15px;
    color: #b3c9dd
}
#slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
.testimonials{
    text-align: center;
    border: 12px;
    font-size: 33px;
    padding-top: 34px;
    padding-bottom: 23px
}
p{
    text-align: center;
    font-size: 30px
}
