<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #226447;
}

h1 {
    color: #55a27f;
    text-align: center;
    font-family: "oswald";
    font-size: 48px;

}
 h2 {
    color:#1a7757;
    font-family:"Open Sans";
    font-size: 34px; 
     
    }    
}
</style>
</head>
<body>
p {
    font-family: "Roboto Condensed";
    font-size: 34px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b7e6bc;
}

li {
    float: left;
    
}

li a {
    display: inline-block;
    color: white;
    text-align:inherit;
    padding:24px;
    text-decoration: #767630;
    font-size: 30px;
    
}li a:hovernot(.active) {
    background-color: #111;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;

